{% set classes = html_classes('ids-field', 'ids-field--' ~ type, class) %}

<div class="{{ classes }}" {{ attributes }}>
    {% if block('label') is defined and block('label') is not empty %}
        <div class="ids-field__label-wrapper">
            <twig:ibexa:label {{ ...label_extra }}>
                {{ block(outerBlocks.label) }}
            </twig:ibexa:label>
        </div>
    {% endif %}

    <div class="ids-field__source-wrapper">
        {{ block('content') }}
    </div>

    {% if block('helper_text') is defined %}
        <div class="ids-field__helper-text-wrapper">
            <twig:ibexa:helper_text {{ ...helper_text_extra }}>
                {{ block(outerBlocks.helper_text) }}
            </twig:ibexa:helper_text>
        </div>
    {% endif %}
</div>
