{% set classes = html_classes('ids-form-control', 'ids-form-control--' ~ type, attributes.render('class') ?? '') %}

<div class="{{ classes }}" {{ attributes }}>
    {% if block('label') is defined and block('label') is not empty %}
        <div class="ids-form-control__label-wrapper">
            <twig:ibexa:Label {{ ...label_extra }}>
                {{ block(outerBlocks.label) }}
            </twig:ibexa:Label>
        </div>
    {% endif %}

    <div class="ids-form-control__source-wrapper">
        {{ block('content') }}
    </div>

    {% if block('helper_text') is defined %}
        <div class="ids-form-control__helper-text-wrapper">
            <twig:ibexa:HelperText {{ ...helper_text_extra }}>
                {{ block(outerBlocks.helper_text) }}
            </twig:ibexa:HelperText>
        </div>
    {% endif %}
</div>
