{% set component_classes = html_classes('ids-choice-input-field', class) %}
{% set input_wrapper_classes = html_classes('ids-choice-input-field__input-wrapper', input_wrapper_class) %}
{% set label_classes = html_classes('ids-choice-input-field__label', label_class) %}

<div class="{{ component_classes }}" {{ attributes }}>
    <div class="{{ input_wrapper_classes }}">
        {{ block('input') }}
    </div>
    <twig:ibexa:ChoiceInputLabel :class="label_classes" :for="id">
        {{ block(outerBlocks.label) }}
    </twig:ibexa:ChoiceInputLabel>
</div>
