{% set badge_classes =
    html_cva(
        base: html_classes(
            'ids-badge',
            {
                'ids-badge--stretched': is_stretched
            }
        ),
        variants: {
            size: {
                small: 'ids-badge--small'
            }
        }
    )
%}

<div
    class="{{ badge_classes.apply({ size }, attributes.render('class')) }}"
    data-ids-max-badge-value="{{ max_value }}"
    data-ids-variant="{{ variant }}"
    {{ attributes }}
>
    {{ formatted_value }}
</div>
