{% set _content %}{% block content %}{% endblock %}{% endset %}
{% set has_content = _content|striptags|trim is not empty %}
{% set icon_only = (not has_content) and icon is not empty %}
{% set button_classes =
    html_cva(
        base: html_classes(
            'ids-btn',
            {
                'ids-btn--disabled': disabled,
                'ids-btn--icon-only': icon_only,
            },
        ),
        variants: {
            type: {
                primary: 'ids-btn--primary',
                secondary: 'ids-btn--secondary',
                tertiary: 'ids-btn--tertiary',
                'secondary-alt': 'ids-btn--secondary-alt',
                'tertiary-alt': 'ids-btn--tertiary-alt',
            },
            size: {
                medium: 'ids-btn--medium',
                small: 'ids-btn--small',
            },
        },
    )
%}

<button
    type="button"
    class="{{
        button_classes.apply(
            {
                type,
                size
            },
            attributes.render('class')
        )
    }}"
    {{ attributes.defaults({ disabled }) }}
>
    {% block button_inner %}
        {% block icon_outer %}
            {% if icon %}
                <div class="ids-btn__icon">
                    {% block icon_inner %}
                        <twig:ibexa:icon name="{{ icon }}" size="{{ icon_size }}" />
                    {% endblock icon_inner %}
                </div>
            {% endif %}
        {% endblock icon_outer %}
        {% if not icon_only %}
            <div class="ids-btn__label">
                {{ _content|raw }}
            </div>
        {% endif %}
    {% endblock button_inner %}
</button>
