{% set chip_classes =
    html_classes(
        'ids-chip',
        {
            'ids-chip--error': error,
            'ids-chip--disabled': disabled,
        },
        attributes.render('class') ?? ''
    )
%}

<div tabIndex={{ disabled ? -1 : 0 }} class="{{ chip_classes }}" {{ attributes }}>
    <div class="ids-chip__content">
        {{ block('content') }}
    </div>
    {% if isClosable %}
        <twig:ibexa:button
            type="tertiary-alt"
            size="small"
            icon="discard"
            class="ids-chip__close ids-chip-clear-btn"
            disabled="{{ disabled }}"
            aria-label="Remove"
        />
    {% endif %}
</div>
