{% set label = is_expanded ? collapse_label : expand_label %}
{% set has_label = label != '' %}

{% set button_classes =
    html_classes(
        'ids-expander',
        {
            'ids-expander--has-label': has_label,
            'ids-expander--has-icon': has_icon,
            'ids-expander--is-expanded': is_expanded
        },
        attributes.render('class') ?? ''
    )
%}

<twig:ibexa:button
    type="tertiary-alt"
    size="small"
    data-expand-label="{{ expand_label }}"
    data-collapse-label="{{ collapse_label }}"
    aria-expanded="{{ is_expanded ? 'true' : 'false' }}"
    class="{{ button_classes }}"
    {{ ...attributes }}
>
    {% if has_label %}
        <span class="ids-expander__label">{{ label }}</span>
    {% endif %}
    {% if has_icon %}
        <twig:ibexa:icon name="{{ icon_name }}" size="small" />
    {% endif %}
</twig:ibexa:button>

{{ encore_entry_script_tags('ibexa-design-system-expander-js', null, 'ibexa') }}
