{% set overflow_list_classes = html_classes('ids-overflow-list', attributes.render('class') ?? '') %}

<div class="{{ overflow_list_classes }}">
    {% for item in items %}
        {{ block('item') }}
    {% endfor %}

    {{ block('more_item') }}

    <template class="ids-overflow-list__template" data-id="item">
        {% with { item: item_template_props } %}
            {{ block('item') }}
        {% endwith %}
    </template>
    <template class="ids-overflow-list__template" data-id="item_more">
        {{ block('more_item') }}
    </template>
</div>
